mat-card{
    max-width: 600px;
    margin: 2em auto;
    text-align: center;
    max-height: 600px;
    border-radius: 20px;
    padding: 40px 40px;
}

.header{
    text-align: center;
}

.full-width{
    width: 80%;
}

.forgot-password{
    padding-left: 0px;
}

.name-input{
    padding-top: 10px;
}

.container {
    padding: 80px 1rem;
}