<mat-toolbar class="mat-elevation-z8 d-flex">
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>
    <mat-icon>verified_user</mat-icon> Gestión de estudiantes
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

        <img class="avatar mat-elevation-z8"
            src="https://zos.alipayobjects.com/rmsportal/jkjgkEfvpUPVyRjUImniVslZfWPnJuuZ.png" />

        <h4 class="name mb-0">{{name}}</h4>
        <p class="rol">En Línea</p>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button" [routerLink]="['/principal']">
            <mat-icon>home</mat-icon>
            <span>Inicio</span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>book</mat-icon>
            <span>Cursos</span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>person</mat-icon>
            <span>Estudiantes</span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>payment</mat-icon>
            <span>Pagos</span>
        </button>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button" (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>Cerrar sesión</span>
        </button>

    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content mat-elevation-z8">
            <app-students></app-students>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>